body{
  background-color: #d1e9d2;
}
img {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}

h1{
  color: #303841;
}
h3{
  color: #303841;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
